.main {
  flex: 1;
  min-height: 100vh;
  padding-bottom: 15vh;
  position: relative;

  &__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.375rem;
    padding: 1.25rem;
    color: #585858;
  }
  &__image {
    width: 2.5rem;
    border-radius: 50%;
  }
}
